// app global css in SCSS form
.container {
    height:100px;
    width:100px;
    align-items: flex-end;
    display: flex;
    padding:10px
}
.container:hover {
    cursor:pointer;
}

.title {
    color:#d0a074;
}

.menuButton {
    color: #d0a074;
}

.bg-positive {
    color:#9D5C0D;
    background-color: #9D5C0D;
}




